appdirs==1.4.3
beautifulsoup4==4.9.0
blinker==1.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
distlib==0.3.0
extraction==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Mail==0.9.1
Flask-Mail-SendGrid==0.3
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.0
MarkupSafe==1.1.1
pipenv==2018.11.26
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dotenv==0.12.0
python-http-client==3.2.7
requests==2.23.0
selenium==3.141.0
sendgrid==6.2.1
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
uritools==3.0.0
urlextract==0.14.0
urllib3==1.25.9
virtualenv==20.0.18
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
