{% extends 'layout.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}

<div class="header">
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-header-u.png') }}" alt="Organizer Logo" class="logo"></a>
    <div class="menu">
        <a href="/filter" class="menuitem">Filter</a>
        <a href="/changepassword" class="menuitem hidemobile">Account</a>
        <a href="/logout" class="menuitem">Log out</a>
    </div>
</div>

<div class="outer_container">

    <form action="/changepassword" method="post" class="form">
    
        <input type="password" name="currentpassword" placeholder="Current Password" autofocus class="input">
        <input type="password" name="newpassword" placeholder="New Password"  class="input">
        <input type="password" name="confirmpassword" placeholder="Confirm Password" class="input">
        <!-- <input type="submit" value="change password" class="btn"> -->
        <button type="submit" class="btn">Change Password</button>

    </form>

</div>

{% endblock %}